/* line 1, ../sass/screen.scss */
#playlist {
  display: none;
}

/* line 5, ../sass/screen.scss */
table {
  max-width: 300px;
}

/* line 9, ../sass/screen.scss */
td {
  with: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid black;
}
